.Pile {
  background-color: #89BA9A; 
  margin-top: 50px;
  width: auto;
  box-shadow: 0 2px 2px #ccc;
}

.Pile tr {
    border:
}

.Qty {
    width: 6%;
}
.Name {
    width: 8%;
}
.Carbon {
    width: 8%;
}
.Nitrogen {
    width: 8%;
}
.Remove {
    width: 4%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
