.Pile {
  margin-top: 50px;
  width: auto;
  box-shadow: 0 2px 2px #ccc;
  text-align: center;
}

.MyGreen {
    background-color: #89BA9A;
}

.Pile tr {
    border:
}

.Qty {
    width: 1%;
}

.Name {
    width: 8%;
}

.Carbon {
    width: 8%;
    display: none;
}
.Nitrogen {
    width: 8%;
    display: none;
}

.CarbonNitrogen {
    width: 8%;
}

.Remove {
    width: 4%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.Hide {
    display: none;
}

@media (min-width: 600px) and (min-height: 400px) {
    .Carbon {
        display: table-cell;
    }
    .Nitrogen {
        display: table-cell;
    }

    .CarbonNitrogen {
        display: none;
    }

    .Hide {
        display: inline;
    }
    .Qty {
        width: 4%;
    }
}
