.searchInput {
    width: 40%;
    font-size: 16px;
    padding: 12px 6px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    z-index: 100;
    position: relative;
    box-shadow: 0 2px 2px #ccc;
}

.editImg {
    width: 20px;
    height: 20px;
    position: relative;
    left: -31px;
    z-index: 150;
    top: 5px;
}
